body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.gallery {
    display: flex;
    max-width: 1140px;
    max-height: 696px;
    padding: 24px 156px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.gallery-item {
    width: calc((100% - 24px * 2) / 3);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link {
    text-decoration: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
    flex-shrink: 0;
}

.gallery-item:hover,
.gallery-item:focus {
    transform: scale(1.04);
}